In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gonlo\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gonlo\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gonlo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gonlo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gonlo\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gonlo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

In [13]:
# Function to read csv files
# pd.read_csv()
df_premier25 = pd.read_csv('https://football-data.co.uk/mmz4281/2526/E0.csv')

In [14]:
# Show dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,E0,22/11/2025,15:00,Liverpool,Nott'm Forest,0,3,A,0,1,...,2.03,1.83,2.08,1.85,2.03,1.92,1.92,1.85,2.08,1.90
115,E0,22/11/2025,15:00,Wolves,Crystal Palace,0,2,A,0,0,...,1.85,2.00,1.85,2.09,1.85,2.02,1.78,1.99,1.87,2.13
116,E0,22/11/2025,17:30,Newcastle,Man City,2,1,H,0,0,...,1.90,1.95,1.99,1.93,1.90,1.95,1.86,1.90,2.02,1.97
117,E0,23/11/2025,14:00,Leeds,Aston Villa,1,2,A,1,0,...,1.93,1.93,1.94,1.98,1.93,1.93,1.86,1.85,1.99,2.00
118,E0,23/11/2025,16:30,Arsenal,Tottenham,4,1,H,2,0,...,1.80,2.05,1.83,2.12,1.83,2.10,1.74,2.06,1.84,2.16

In [15]:
# Rename dataframe
df_premier25.rename(columns={'FTHG':'home_goals', 'FTAG':'away_goals'}, inplace=True)

In [16]:
# Show changed dataframe
df_premier25

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,E0,22/11/2025,15:00,Liverpool,Nott'm Forest,0,3,A,0,1,...,2.03,1.83,2.08,1.85,2.03,1.92,1.92,1.85,2.08,1.90
115,E0,22/11/2025,15:00,Wolves,Crystal Palace,0,2,A,0,0,...,1.85,2.00,1.85,2.09,1.85,2.02,1.78,1.99,1.87,2.13
116,E0,22/11/2025,17:30,Newcastle,Man City,2,1,H,0,0,...,1.90,1.95,1.99,1.93,1.90,1.95,1.86,1.90,2.02,1.97
117,E0,23/11/2025,14:00,Leeds,Aston Villa,1,2,A,1,0,...,1.93,1.93,1.94,1.98,1.93,1.93,1.86,1.85,1.99,2.00
118,E0,23/11/2025,16:30,Arsenal,Tottenham,4,1,H,2,0,...,1.80,2.05,1.83,2.12,1.83,2.10,1.74,2.06,1.84,2.16